
 <link rel="stylesheet" href="/static/stylesheets/tip_style2.css">

<div class="content-wrapper">
    <!-- 해당 페이지의 타이틀& 유입경로 -->
      <!-- Content Header (Page header) -->
      <div class="content-header">
          <div style="text-align: center;">
            <p style="font-size: 30px;"><img src="/static/images/icon/farminsun.png" style="width: 40px; height:auto;"> fram in sun</p>
            <p style="font-size: 50px;">채소 키우기 Tip!</p>
            <p> 작물에 대한 기본적인 팁을 드립니다!</p>
          </div>
          <br>
          <br>
        <div class="container-fluid">
            <section class="wrapper">
                <div class="container">
                
                <div class="row">
            <div class="col-md-4"><div class="card text-white card-has-bg click-col" style="background-image:url('/static/images/chung_tall.jpeg');">
                    <img class="card-img d-none" src="https://source.unsplash.com/600x900/?tech,street" alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?">
                    <div class="card-img-overlay d-flex flex-column">
                    <div class="card-body" onclick="location.href='/public/chung'">
                        <small class="card-meta mb-2">청경채 키우기!</small>
                        <h4 class="card-title mt-0 ">아삭아삭한 식감으로 맛을 사로잡는 청경채! 화분에서 직접 수확해봐요</h4>
                        </div>
                        <div class="card-footer">
                        <div class="media">
                <img class="mr-3 rounded-circle" src="https://cdn0.iconfinder.com/data/icons/user-pictures/100/male-512.png" alt="Generic placeholder image" style="max-width:50px">
                <div class="media-body">
                <h6 class="my-0 text-white d-block">Oz COruhlu</h6>
                <small>Director of UI/UX</small>
                </div>
            </div>
                        </div>
                    </div>
                    </div></div>
                <div class="col-md-4"><div class="card text-white card-has-bg click-col" style="background-image:url('/static/images/sang_tall.jpeg');">
                    <img class="card-img d-none" src="https://source.unsplash.com/600x900/?tree,nature" alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?">
                    <div class="card-img-overlay d-flex flex-column">
                    <div class="card-body"  onclick="location.href='/public/sang'">
                        <small class="card-meta mb-2">상추 키우기!</small>
                        <h4 class="card-title mt-0 ">삼겹살의 친구 상추! 삼겹살은 마트에서~ 상추는 화분에서~</h4>
                        </div>
                        <div class="card-footer">
                        <div class="media">
                <img class="mr-3 rounded-circle" src="https://cdn0.iconfinder.com/data/icons/user-pictures/100/male-512.png" alt="Generic placeholder image" style="max-width:50px">
                <div class="media-body">
                <h6 class="my-0 text-white d-block">Oz COruhlu</h6>
                <small>Director of UI/UX</small>
                </div>
            </div>
                        </div>
                    </div>
                    </div></div>
                <div class="col-md-4"><div class="card text-white card-has-bg click-col" style="background-image:url('/static/images/ggae.jpeg');">
                    <img class="card-img d-none" src="https://source.unsplash.com/600x900/?computer,design" alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?">
                    <div class="card-img-overlay d-flex flex-column">
                    <div class="card-body"  onclick="location.href='/public/ggae'">
                        <small class="card-meta mb-2">깻잎 키우기!</small>
                        <h4 class="card-title mt-0">향, 맛이 둘 다 잡은 깻잎! 꺳잎을 키워보자</h4>
                        </div>
                        <div class="card-footer">
                        <div class="media">
                <img class="mr-3 rounded-circle" src="https://cdn0.iconfinder.com/data/icons/user-pictures/100/male-512.png" alt="Generic placeholder image" style="max-width:50px">
                <div class="media-body">
                <h6 class="my-0 text-white d-block">Oz COruhlu</h6>
                <small>Director of UI/UX</small>
                </div>
            </div>
                        </div>
                    </div>
                    </div></div>
                
            </div>
                
            </div>
            </section>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
            