
<!--profile modal-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"></link>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></link>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></link>
<link rel="stylesheet" href="/static/stylesheets/profile.css"></link>


<section class="content">

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
  <div class="modal-content">
      <div class="modal-header">
      </div>
      <!-- body -->
      <div class="modal-body">
        <div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
            <div class="card p-4">
                     <div class=" image d-flex flex-column justify-content-center align-items-center"> <button class="btn btn-secondary"> {% if session.get('userimage') is none or session.get('userimage') =='_' %} <img src="../../static/images/default_profile.png" height="100" width="100" /> {% else %} <img src="/static/userprofileimg/{{session.get('userid')}}/{{session.get('userimage')}}" height="100" width="100" />{% endif %}</button> <span class="name mt-3">사용자 이름 : {{session.get('username')}}</span> <span class="idd">아이디 : {{session.get('userid')}}</span> 
                    

                    <div class="d-flex flex-row justify-content-center align-items-center mt-3"> <span class="number"> | Welcome my Profile | <span class="follow"></span></span> </div>
                    <div class=" d-flex mt-2"> <button class="btn1 btn-dark" onclick="location.href='/user/profiledit'">Edit Profile</button> </div>
                    <br>
                    <div class="d-flex flex-column" style="text-align: center;"> <span class="heading d-block">Gallery</span> <span class="d-flex flex-row gallery"> <img src="https://i.imgur.com/VfRSLTm.jpg" width="50" class="rounded"> <img src="https://i.imgur.com/jb9Cy5h.jpg" width="50" class="rounded"> <img src="https://i.imgur.com/vBUz4HA.jpg" width="50" class="rounded"> </span> </div>                    
                    <div class="gap-3 mt-3 icons d-flex flex-row justify-content-center align-items-center"> <span><i class="fa fa-twitter"></i></span> <span><i class="fa fa-facebook-f"></i></span> <span><i class="fa fa-instagram"></i></span> <span><i class="fa fa-linkedin"></i></span> </div>
                    <div class=" px-2 rounded mt-4 date "> <span class="join">가입일 : {{session.get('date')}}</span> </div>
                </div>
            </div>
        </div>
      </div>
  </div>
</div>
</div>

</div>
<div class="modal-footer">
</div>
</div>
</div></div>

</section>



<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
        <img src="/static/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
            style="opacity: .8">
        <span class="brand-text font-weight-light">Farm_In_Sun</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="
                " data-toggle="modal" data-target="#exampleModal">{{ userName}}</a>
            </div>
        </div>

        <!-- SidebarSearch Form 
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>-->

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                 with font-awesome or any other icon font library -->


                <li class="nav-item">
                    <a href="/user/myplant" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            성장일기
                            <span class="right badge badge-danger">New</span>
                        </p>
                    </a>
                </li>
            </ul>
        </nav>

        <!-- /.sidebar-menu -->


</div>

    <!-- /.sidebar -->
</aside>