<!-- css link-->
<link rel="stylesheet" href="../../static/stylesheets/sidebar.css">

<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4" style="background-color: #F5F5F5;">
    <!-- Brand Logo -->
    <a href="#" class="brand-link" style="border: #8a8585; margin-top: 20px;">
        <img src="/static/images/icon/framinsun2.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
            style="opacity: .5; margin-right: 20px; margin-left: 11px;">
        <span class="brand-text font-weight-light">Farm In Sun</span>
    </a>

    <hr>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <!-- <div class="user-panel mt-3 pb-3 mb-3 d-flex"> -->
        <div class="brand-link" style="border: #8a8585;">
            <div class="image">
                <a href="#">
                    <img src="/static/images/icon/sprout.png" class="img-circle elevation-2" alt="User Image"
                        id="profileimage">
                </a>
            </div>
            <div class="info">
                <a href="" data-toggle="modal" data-target="#exampleModal">>{{userName}} 새싹회원</a>
            </div>
        </div>
        <br>
        <br>
        <br>
        <hr>

        <!-- SidebarSearch Form 
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>-->

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                 with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a href="/user/myplantlist" class="nav-link" id=alist >
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            성장일기
                            <span class="right badge badge-danger">New</span>
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/user/aiservice" class="nav-link" id=alist>
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            식물예측
                            <span class="right badge badge-danger">New</span>
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link" id=alist>
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            comming soon
                            <span class="right badge badge-danger">New</span>
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link" id=alist>
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            comming soon
                            <span class="right badge badge-danger">New</span>
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link" id=alist>
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            comming soon
                            <span class="right badge badge-danger">New</span>
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>