<!-- 모든사이트는 특별하지 않는 이상 반복적인 패턴으로 조립이 된것이다. -->
<!-- 화면구성요소를 쪼개서 조립해 하나의 페이지가 완성되도록 구성한다. -->
<!DOCTYPE html>
<html lang="en">

<head>
  {# incluede "삽입할 페이지" or ['','','',....]#}
  {# ignore missing은 파일이 없을시, 무시처리함#}
  {% include "com/head.html" ignore missing%}
  <link rel="stylesheet" href="../../static/stylesheets/tip_style.css">
</head>

<body class="hold-transition sidebar-mini layout-fixed">
  <div class="wrapper">

    {% include "com/preloader.html" %}
    {% include "com/navibar.html" %}

<section class="content">


  <section class="light">
    <div class="container py-2" style="margin: auto;">

        <div class="h1 text-center text-dark" id="pageHeaderTitle">
            <img src="../../static/images/icon/chung_icon.png" style="width:50px; height:auto;">
            청경채 재배 방법
            <img src="../../static/images/icon/chung_icon.png" style="width:50px; height:auto;">
        </div>
  

      <article class="postcard light blue">
        <a class="postcard__img_link" href="#">
          <img class="postcard__img" src="../../static/images/temper_tip1.jpg" alt="Image Title" />
        </a>
        <div class="postcard__text t-dark">
          <h1 class="postcard__title blue"><a href="#">온도</a></h1>
          <div class="postcard__subtitle small">
          </div>
          <div class="postcard__bar"></div>
          <div class="postcard__preview-txt">청경채는 생육단계별로 온도를 다르게 해줘야 합니다. 발아 전 까지는 15~20°C로 관리하고 싹이 난 이후 부터는 20~25°C 정도로 유지하는 것이 좋아요. 오전 중 광합성의 70~80%가 이루어 지기 때문에 오전에 햇볕이 드는 곳이 좋습니다.</div>
          <ul class="postcard__tagbox">
            <li class="tag__item"><i class="fas fa-tag mr-2"></i>청경채와 온도</li>
            <li class="tag__item"><i class="fas fa-clock mr-2"></i>15~20°C</li>
            <li class="tag__item play green">
              <a href="#"><i class="fa-regular fa-lightbulb-on"></i>밤온도는 10~15°C</a>
            </li>
          </ul>
        </div>
      </article>
      <article class="postcard light red">
        <a class="postcard__img_link" href="#">
          <img class="postcard__img" src="../../static/images/sang_tip.jpg" alt="Image Title" sizes="height=100px;"/>	
        </a>
        <div class="postcard__text t-dark">
          <h1 class="postcard__title red"><a href="#">청경채와 물</a></h1>
          <div class="postcard__subtitle small">
          </div>
          <div class="postcard__bar"></div>
          <div class="postcard__preview-txt">청경채는 물을 잘 흡수하고 물이 없어도 잘 버티는 편이기 때문에 너무 자주 주는 것보다는 흙이 마른것을 확인하고 500ml정도의 물을 한번에 주시는 것이 좋습니다.</div>
          <ul class="postcard__tagbox">
            <li class="tag__item"><i class="fas fa-tag mr-2"></i>청경채와 물</li>
            <li class="tag__item"><i class="fas fa-clock mr-2"></i>물은 흙이 말랐을 때</li>
            <li class="tag__item play green">
              <a href="#"><i class="fa-regular fa-lightbulb-on"></i>500ml정도를 한번에</a>
            </li>
          </ul>
        </div>
      </article>
      <article class="postcard light green">
        <a class="postcard__img_link" href="#">
          <img class="postcard__img" src="../../static/images/soil_tip.jpg" alt="Image Title" />
        </a>
        <div class="postcard__text t-dark">
          <h1 class="postcard__title green"><a href="#">청경채와 토양</a></h1>
          <div class="postcard__subtitle small">
          </div>
          <div class="postcard__bar"></div>
          <div class="postcard__preview-txt">유기질이 풍부한 토양에서 연하게 잘 자랍니다. 해충피해를 줄이기 위해 통풍이 잘 되어야 하고, 햇볕이 잘드는 곳이면 더 잘자랄 거에요! 배수가 잘 되어야 해요!</div>
          <ul class="postcard__tagbox">
            <li class="tag__item"><i class="fas fa-tag mr-2"></i>청경채와 토양</li>
            <li class="tag__item"><i class="fas fa-clock mr-2"></i>유기질이 풍부한 토양</li>
            <li class="tag__item play green">
              <a href="#"><i class="fas fa-play mr-2"></i>통풍, 햇볕, 배수관리 잘 해주기</a>
            </li>
          </ul>
        </div>
      </article>
    </div>
  </section>

</section>
    

    {% include "com/copyright.html" %}
    {% include "com/right.html" %}
  </div>
  <!-- ./wrapper -->

  {% include "com/foot.html" %}
</body>


<p>이미지 출처 : <a href='https://kr.freepik.com/photos/floral'>Floral 사진는 freepik - kr.freepik.com가 제작함</a></p>
</html>
